
.Homepage{
    font-size:1em;
    width:100vw;
    height:100vh;
    margin:0;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-photo/fast-fashion-concept-with-man-clothing-store_23-2150871308.jpg?t=st=1701137352~exp=1701140952~hmac=ec4f0133adc2ef0383dc4758854dc1422ab4562eabc8da343bb244c5a748f344&w=900");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1; 
    z-index: -1;   
    
}
.container {
    display: flex;
    font-size:5vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);


  }
.heading{
    padding:10px;
    color:white;
    font-size:1em;
    font-weight:1em;
    position: relative; 
    word-spacing: 6vw;
}


.container .inside{
    margin:20px;
    font-size: 5vw;
    position: relative


}

 .quote{
    color:black;
    font-size: 0.4em;
    display:none;
}
.quotes{
    color:lightgreen;
    font-size: 0.4em;
    font-weight: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:block;
}


.container .image{
    position:absolute;
    border-radius:20px;
    top:30%;
    left:0;
    width:1em;
    height:1.7em;
    background-image: url(" https://www.kindpng.com/picc/m/650-6504916_shop-online-wth-halo-metrics-shopping-cart-hd.png");
    background-size: cover;
    animation-name: moveImage;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}




@keyframes moveImage {
    0% {
        left: 0;
        top: -30%;
    }
    25% {
        left: 100%;
        top: -30%;
    }
    50% {
        left:100%;
        top: 65%;
    }
    75% {
        left: 50%;
        top: 65%;
    }
    100% {
        left:50%;
        top: 15%;
    }
}




