.item{
    display:flex;
    justify-content: space-between;
    margin-top:10%;
}
.item img{
    box-shadow: 20px 20px 50px 15px cadetblue;;
    width:50vw;
    height:100vh;
}
.itemdes{
    margin-left: 20px;
    font-size: 1vw;
    background:linear-gradient( to left top,cadetblue,white);
    width:40vw;
    height:100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.itemdes .category{
    position: absolute;
    padding:0.1em;
    font-size:2em;
    top:0%;
    left:0;
    border:none;
    background-color: lightgreen;
}
.itemdes .productName{
    font-size:1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top:10%;
    left:0;
    color:black;
}

.itemdes .price{
    padding:0.1em;
    font-size:1.7em;
    position: absolute;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top:15%;
    left:0;
    border:none;
    background-color: lightgreen;
}

.available h5{
    border: none;
    background-color: lightgreen;
    padding: 0.2em;
}

.available{
    font-size:1.4em;
    position: absolute;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top:25%;
    left:0;
    margin:5px;

}
ul {
    list-style-type: none;
  }
  
  li {
    font-size: 1vw;
    list-style-image: url('https://rukminim2.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90');
    padding:2px;
  }

.buttoncart{
    font-size: 1em;
    position: absolute;
    top:80%;
    left:17%;
    width:20em;
    padding:1em;
    height:3em;
    border-radius: 30px;
    margin-right:3px;
    text-align: center;
    cursor: pointer;
    background-color:lightgreen;
}
.buttoncart:hover{
    border:2px solid black;
}
@media (max-aspect-ratio: 9/16) {
    /* Adjust styles for portrait orientation or tall screens */
    .item{
        margin-top:20%;
    }
    .itemdes{
        width:50vw;
    }
    .buttoncart{
        top:80%;
    }
    .available ul li{
        font-size: 0.5vh;
        padding:5px;
    }
    .itemdes .productName{
        font-size: 1vh;
    }
    .itemdes .price{
        padding:0.5vh;
        font-size: 2vh;
    }
    .itemdes .category{
        font-size:2vh;
        padding:0.5vh;
    }
    .available h5{
        font-size:1.4vh;
        padding: 1em;
    }
    .buttoncart{
        position: absolute;
        width:10vh;
        font-size:1vh;
        bottom:10%;
        left:-10%;
    }
}

  




