*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    border:none;
    outline:none;
    font-family:sans-serif;
  }
  
  
  .App{
    width:fit-content;
    background-color:white;
    height: 100%; /* Set a specific height or use a percentage value */
    overflow: auto;
  
  }
  .wrapper{
    width:90%;
    margin:0 auto;
    margin-left:5%;
    
  
  
  }
  .search-container{
    margin:1em 0;
  }
  .search-container input{
    font-size: 20px;
  }
  .search-container input:focus{
    border-bottom-color:#6759ff;
  }
  .search-container input{
    background-color: transparent;
    width:40%;
    border-bottom: 2px solid black;
    padding:1em 0.3em;
  }
  .search-container button{
    background-color:#6759ff;
    padding:5px;
    width:100px;
    margin-left: 30px;
    height: 50px;
    border:1px solid black;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .cards{
    display:grid;
    grid-template-columns:200px 200px 200px;
    position: relative;
    left:5%;
    margin-top: 10px;
    background-color:powderblue;
    width:fit-content;
    padding:2em;
  }
  @media (max-width: 600px) {
    .cards {
      grid-template-columns: 1fr; /* Change to a single column for small screens */
      left: 0; /* Adjust other styles as needed for small screens */
    }
  }
  
  .card{
    position: relative;
    background-color: #ffffff;
    max-width:12em;
    margin-top:1em;
    margin-bottom: 1em;
    padding:1em;
    border-radius: 5px;
    box-shadow:1em 2em 2.5em rgba(1,2,68,0.08);
  }
  .active{
    transition:transform 1s ease-in-out ;
  }
  .active:hover{
    background-color:gainsboro;
    transform:translate(-7px,-7px);
  }
  
  img{
    max-width:100%;
    object-fit:contain;
    height:15em;
  }
  
  .card  h5{
    font-weight:2px;
    padding:10px;
  
  }
  
  .brand{
    position: absolute;
    width:fit-content;
    height:20px;
    text-align: center;
    padding:5px;
    border-bottom-right-radius: 10px;
    font-size:12px;
    font-weight:5px;
    background-color:blueviolet;
    left:0px;
    top:0px;
   
  }
  .out{
    text-align: center;
    font-size: 50px;
    border:1px solid black;
    padding:20px;
  }
  
  button{
    width:100px;
    border:1px solid black;
    height:50px;
    border-radius: 30px;
    margin-right:3px;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    button {
      max-width: 100%; /* Allow the button to take full width on smaller screens */
      margin-right:0; /* Remove right margin on smaller screens */
    }
  }
  .button-value{
    border:2px solid black;
    background-color: #6759ff;
    padding:1em 2.2em;
    border-radius:3em;
    margin-left: 5px;
    width: fit-content;
    cursor:pointer;
    align-items:center;
   
  }
  .Add{
    width:100px;
    background-color: #6759ff;
    border:1px solid black;
    height:50px;
    border-radius: 30px;
    margin-right:3px;
    cursor: pointer;
  
  }
  .Cart{
    position: relative;
    left:-150px;
    display:flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
  }
  
  .cartElement {
    position: relative;
    left:1px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    width: 100%; /* Take full width of its container */
    max-width:fit-content; /* Set a maximum width for larger screens */
    padding: 20px;
    border: 1px solid;
    margin-bottom:5px;
    background-color:powderblue;
    transition:transform 2s;
  
  }
  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    .cartElement {
      max-width: 100%; /* Allow the cart element to take full width on smaller screens */
    }
  }
  
  .cartElement img{
    width:100px;
    height:50px;
  
    
  }
  
  .cartElement button{
    width:30px;
    height:30px;
  
    
  }
  .cartElement .remove{
    height:50px;
    width:fit-content;
    padding:10px;
    background-color: red;
    
    
  }
  .side{
    margin-left: 10%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:5%;
  
  }
  .filter{
    position:relative;
    top:11px;
    right:10px;
    background-color:powderblue;
    width:100%;
    max-width: 200px;
    height:500px;
   
  
  }
  .filter h3{
    color:blue;
  }
  
  
  .price-filter{
    margin:20px;
  }
  .price-filter h4{
    padding:10px;
  }
  
  .brand-filter{
    margin:20px;
   
  }
  .brand-filter h4{
    padding:10px;
  }
  
  
  