
button{
  font-size: 0.8em;
  border-radius: 10px;
  margin:20px;
  border: none;
  cursor:pointer;
}
.nav-button{
  margin-top: 50px;
  width:100px;
  border:none;
  height:50px;
  border-radius: 30px;
  margin-right:3px;
  cursor: pointer;

}


.button-value{
  margin-top: 50px;
  width:100px;
  border:3px solid black;
  height:50px;
  border-radius: 30px;
  margin-right:3px;
  cursor: pointer;
  background-color: #6759ff;
}

@media (max-aspect-ratio: 9/16) {
  /* Adjust styles for portrait orientation or tall screens */
  button{
    font-size:0.3em;
  }
  .nav-button,.button-value {
    width:50px;
    height:20px;
    margin:5px;
  }
  
}

.filter{
  position:sticky;
  top:150px;
  right:1vw;
  background-color:powderblue;
  width:20%;
  height:fit-content;

}
@media screen and (max-width: 600px) {
  .filter{
    position: sticky;
    top:5%;
    width:40%;
    height: fit-content;
  }
  .filter h3{
    font-size: 2vh;
  }
  .price-filter{
    font-size: 1vh;
  }
  .brand-filter{
    font-size: 1vh;
  }
  .selectbrand{
    margin-left:-10px;
    width:9vh;
    height:2vh;
  }
   }


.filter h3{
  color:blue;
}


.price-filter{
  margin:20px;
}
.price-filter h4{
  padding:10px;
}

.brand-filter{
  margin:20px;
 
}
.brand-filter h4{
  padding:10px;
}


.Cart{
  margin-top:0px;
  font-size:20px;
  background-color:cadetblue;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  width:100vw;
  height:100vh;
  overflow-y: scroll;
}
.Empty{
  background-color: cadetblue;
  height:100vh;
  margin-top: 130px;
}
.Empty h4{
  font-size: 1.5em;
}
.emptycart{
  margin-top:0px;
}


.cartElement {
  font-size:1em;
  position: relative;
  border: none;
  display: flex;
  justify-content: space-between;
  width:90%;
  padding: 20px;
  margin-bottom:5px;
  background-color:powderblue;
  transition:transform 2s;

}
.cartElement img{
  width:5em;
  height:3em;

}
.cartElement h5{
  padding:2em;
}

.cartElement button{
  width:3em;
  height:3em;

  
}
.cartElement .remove{
  height:3em;
  width:7em;
  padding:0.2em;
  background-color: red;
}
@media (max-aspect-ratio: 9/16) {
  /* Adjust styles for portrait orientation or tall screens */
  .cartElement {
    width:90vw;
    padding:10px;
  }
  .cartElement img{
    width:3vh;
    height:3vh;
    padding:1vh;
  
  }
  .cartElement h5{
    font-size: 1vh;
    padding:0.5vh;
  }
  
  .cartElement button{
    width:0.5vh;
    height:1vh;
  
    
  }
  .cartElement .remove{
    font-size: 0.5vh;
    height:5em;
    padding:1vh;
    width:20vh;
    padding:0.2vh;
    background-color: red;
  }

}
.nav{
  position: absolute;
  font-size:1.5vw;
  top:5px;
  right:10px;
  display:flex;
  float:right;
  justify-content: space-between;
  align-items:center;
  z-index: 2;

}
.nav .navlink{
  text-decoration: none;
  color:black;
  font-size:1.5em;
  padding:1em;
  transition:transform 3s ease;
}
.nav .navlink:hover{
  transform: scale(1.2,1.2);
  color:green;
}
.innerCart{
  padding-right:2em;
  position: relative;
  display: flex;
  justify-content:flex-start;
}
.cartvalue{
  position:absolute;
  top:38%;
  right:10%;
  width:30%;
  height:30%;
  border-radius:50%;
  background-color:powderblue;
}

