
button{
  font-size: 0.8em;
  border-radius: 10px;
  margin:20px;
  border: none;
  cursor:pointer;
}
.nav-button{
  width:100px;
  border:1px solid black;
  height:50px;
  border-radius: 30px;
  cursor: pointer;
}


.button-value{
  width:100px;
  border:3px solid black;
  height:50px;
  border-radius: 30px;
  margin-right:3px;
  cursor: pointer;
  background-color: #6759ff;
}

.filter{
  position:sticky;
  top:100px;
  right:10px;
  background-color:powderblue;
  width:150%;
  max-width: 200px;
  height:500px;


}
.filter h3{
  color:blue;
}


.price-filter{
  margin:20px;
}
.price-filter h4{
  padding:10px;
}

.brand-filter{
  margin:20px;
 
}
.brand-filter h4{
  padding:10px;
}
.side{
  margin-left: 10%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap:5%;

}
.Cart{
  font-size: 1.5vw;
  background-color:cadetblue;
  position: relative;
  display:flex;
  margin-top:100px;
  flex-direction: column;
  align-items: center;
  padding:10px;
  width:100vw;
  height:100vh;
  overflow-y: scroll;
}
.Empty{
  background-color: cadetblue;
  height:100vh;
  margin-top: 100px;
}
.Empty h4{
  font-size: 1.5em;
}
.emptycart{
  margin-top:20px;
}


.cartElement {
  font-size:0.9em;
  position: relative;
  border: none;
  display: flex;
  justify-content: space-between;
  width:90%;
  padding: 20px;
  margin-bottom:5px;
  background-color:powderblue;
  transition:transform 2s;

}
.cartElement img{
  width:5em;
  height:3em;

}

.cartElement button{
  width:30px;
  height:30px;

  
}
.cartElement .remove{
  height:3em;
  width:fit-content;
  padding:0.2em;
  background-color: red;
  
  
}
.nav{
  position: absolute;
  top:5px;
  right:10px;
  display:flex;
  float:right;
  justify-content: space-between;
  align-items:center;

}
.nav .navlink{
  text-decoration: none;
  color:black;
  font-size:1.5em;
  padding:1em;
  transition:transform 3s ease;
}
.nav .navlink:hover{
  transform: scale(1.2,1.2);
  color:green;
}

