.card{
    position: relative;
    background-color: #ffffff;
    font-size: 1em;
    margin:0.2em;
    width:15em;
    border-radius: 5px;
    box-shadow:1em 2em 2.5em rgba(1,2,68,0.08);
  }
.card:hover{
  background-color: gray;
  }
img{
    width:100%;
    object-fit:contain;
    height:15em;
  }
  
.card  h5{
    font-weight:2px;
    padding:10px;
  
  }
.brand{
    position: absolute;
    width:fit-content;
    height:10px;
    text-align: center;
    padding:5px;
    border-bottom-right-radius: 10px;
    font-size:12px;
    font-weight:5px;
    background-color:blueviolet;
    left:0px;
    top:-10px;
   
  }
.Add{
    width:100px;
    background-color: #6759ff;
    border:1px solid black;
    height:50px;
    border-radius: 30px;
    margin:10px;
    cursor: pointer;
  
  }
